# config.yaml contains site-specific configs and sensitive data
/config.yaml

# buildbot create-master artifacts
/buildbot.tac
/public_html/
/state.sqlite
/templates/

# gitpoller repo
/gitpoller-workdir/

# runtime artifacts
/http.log
/twistd.log
/twistd.pid

# hell, just ignore all directories
/*/

# emacs droppings
*~
\#*\#
.\#*
